<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.edu.mapper.CourseMapper">

    <resultMap id="CourseWebVoMap" type="com.atguigu.edu.entity.frontVo.CourseWebVo">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="price" column="price"/>
        <result property="lessonNum" column="lesson_num"/>
        <result property="cover" column="cover"/>
        <result property="buyCount" column="buy_count"/>
        <result property="viewCount" column="view_count"/>
        <result property="description" column="description"/>
        <result property="teacherId" column="teacherId"/>
        <result property="teacherName" column="name"/>
        <result property="intro" column="intro"/>
        <result property="avatar" column="avatar"/>
        <result property="subjectLevelOneId" column="subjectLevelOneId"/>
        <result property="subjectLevelOne" column="subjectLevelOne"/>
        <result property="subjectLevelTwoId" column="subjectLevelTwoId"/>
        <result property="subjectLevelTwo" column="subjectLevelTwo"/>
    </resultMap>

    <select id="getCoursePublishVo" resultType="com.atguigu.edu.entity.vo.CoursePublishVo">
        SELECT es.`id`,es.`title`,es.`cover`,es.`lesson_num` ,esu1.`title` AS subjectLevelOne,esu2.`title` AS subjectLevelTwo,et.`name` teacherName,es.`price`
        FROM edu_course es
                 JOIN edu_teacher et ON es.`teacher_id` = et.id
                 JOIN edu_subject esu1 ON es.`subject_parent_id` = esu1.`id`
                 JOIN edu_subject esu2 ON es.`subject_id` = esu2.`id`
        WHERE es.`id` =  #{courseId}
    </select>

    <select id="getCourseFrontInfo" resultMap="CourseWebVoMap">
        SELECT
            ec.`id`,
            ec.`title`,
            ec.`price`,
            ec.`lesson_num`,
            ec.`cover`,
            ec.`buy_count`,
            ec.`view_count`,

            ecd.`description`,

            et.`id` as teacherId,
            et.`name`,
            et.`intro`,
            et.`avatar`,

            esu1.`id` as subjectLevelOneId,
            esu1.`title` as subjectLevelOne,
            esu2.`id` as subjectLevelTwoId,
            esu2.`title` as subjectLevelTwo
        FROM edu_course ec
                 JOIN edu_course_description ecd ON ec.`id` = ecd.`id`
                 JOIN edu_teacher et ON ec.`teacher_id` = et.id
                 JOIN edu_subject esu1 ON ec.`subject_parent_id` = esu1.`id`
                 JOIN edu_subject esu2 ON ec.`subject_id` = esu2.`id`
        WHERE ec.`id` =  #{courseId}
    </select>
</mapper>
